@model IEnumerable<IntroductionASPNETCoreMVC.Models.Samochod>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Stwórz nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kolor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PojSilnika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RokProdukcji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Przebieg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PojSilnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RokProdukcji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Przebieg)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SamochodId">Edycja</a> |
                <a asp-action="Details" asp-route-id="@item.SamochodId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.SamochodId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
